.banner {
    background-image:url('../public/hulu-600\ \(1\).jpg');
    background-position: top right;
    max-width: 100%;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem 2rem;
    position: relative;
}

.banner_description {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    z-index: 1;
    text-align: center;
    top: 20%;
}

.banner_description img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    max-width: 260px;

}

.banner_footer {
    position: absolute;
    bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 3rem;


}

.tv_section {
    width: 85%;
    margin: 0 auto;
    text-align: center;

}


.tv_banner {
    position: relative;
}

.tv_description {
    position: absolute;
    top: 4%;
    text-align: start;
    left: 6%;
}





@media(min-width:768px) {
    .banner {
        background-image: url('../public/hulu-600\ \(2\).jpg');
        background-position: top right;
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1.5rem 2rem;
    }

    .banner_description,
    .tv_section {
        width: 70%;
    }

    .banner_description img {
        max-width: 500px;
    }

    .banner_footer {
        bottom: 3%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;


    }
}

@media(min-width:1024px) {
    .banner {
        background-image: url('../public/hulu.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        max-width: 100%;
        background-position: right center;
        padding: 1.5rem 3rem;
    }

    .banner_description,
    .tv_section {
        width: 55%;
    }

    .banner_description img {
        max-width: 500px;
    }

    .banner_footer {
        bottom: 3%;
        flex-direction: row;
        justify-content: space-between;

    }
}